
html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right,  lightgray 25%, white 75%);
}

body a {
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    font-family: noticia;
    height: 100px;
    width: 100%;
    color: black;
    position: fixed;
    top: 0;
    padding: 0px;
    left: 0;
    background: linear-gradient(to right,  lightgray 25%, white 75%);
    z-index: 3;
}

.header a {
    color: black;
    text-decoration: none;
  
}

.header a:hover {
    color: white;
    background-color: black;
    padding: 8px;
}



.header nav {
    display: flex;
    align-items: flex-end;
    gap: 300px;
    width: 1100px;
    padding: 15px 15px;
    

}

.main {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 140px;
    width: 1900px;
}

.banner {   
    top: 5px;
    display: flex;
    color: black;
    height: 850px;
    width: 1900px;
    align-items: center;
    justify-items: center;

}

.banner a {
    color: black;
    text-decoration: none;

}

.banner h1 {
    font-family: noticia;
    font-size: 95px;
    margin: 5px;
    
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: darkgray;
    height: 850px;
}

#description a {
    color: orangered;
    font-weight: bold;
    
}


#profile-pic {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    align-self: flex-end;
    
}


.profile img {
    height: 400px;
    width: 400px;
    float: right;
}


figcaption {
    text-align: right;
    font-family: Mr De Haviland;
    font-size: 40px;
    transform: skew(0deg, -10deg);
    padding: 25px;
    margin-top: 15px;
    
    
  
}

#clock {
    opacity: 5%;
    
}


aside {
    display: flex;
    right: 0;
    top: 108px;
    height: 100%;
    list-style: none;
    position: fixed;
    width: 100px;

}

/* position and decorating social media icons */
.icons {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 1.50rem;
    width: 60px;
    text-shadow: 2px 2px black;
    
}

.icons a {
   
    padding: 50px;
    color: darkgray;
   
}




#social-media { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;

}



/* side navigation menu */

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
  
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    color: black;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: blue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}

}

/* style button */
.btn {

    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

#btn2 {

    margin-top: 0;

}

.featured-work {

    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    font-family: noticia;
    
}

.featured-work {
    font-size: 32px;
}

#portfolio-poster {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 405px;

    
}



.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;

}

.projects p {
    position: absolute;
    width: 350px;
    top: 1400px;
    left: 1000px;
    font-family: noticia;
    font-size: 24px;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.projects a {
    position: relative;
    color: orangered;
    text-decoration: none;
}


.projects img {
    width: 480px;
    height: 630px;
   
}


.project-button {
    align-self: center;
    width: 225px;
    flex-direction: column;
    z-index: 2;
    opacity: 1;
    background: lightgrey;
    margin-top: 20px;
    
}

.project-button a {
    
    color: black;
}


.project-button:hover {
    opacity: 0;
    
}

.project-button h4 {
    line-height: .1;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.project-button h6 {
    margin-top: 10px;
    line-height: .1;
    font-size: 1.4rem;
    
}

.divider {
    margin-top: 35px;
    width: 15px;
}


.buy-now {

    position: absolute;
    top: -145px;
    align-self: center;
    padding: 40px;
    
}



#book-cover {

    display: flex;
    flex-direction: column;
    position:absolute;
    align-self: flex-end;
    top: 450px;
    margin-right: 0;
    width: 900px;
  
}

#book-cover img {
    width: 1050px;
    margin-bottom: -65px;

}

#zeus-project {

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 405px;
    padding-top: 150px;
  
   
    
}






/* Section to display skills and experience */


#skills-title {
    font-family: noticia;
    width: 100%;
    font-size: 1.2rem;
}

.tech {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2.8rem;
    
}

.tech img {
    min-width: 25px;
    min-height: 25px;
    width: 43px;
    height: 43px;
} 

#final-cut-logo {
    height: 55px;
}

#inspiration-title {
    font-family: noticia;
    width: 100%;
    font-size: 1.2rem;
}


.inspiration {
    display: flex;
    justify-content: space-around;
    border: 3px dotted blue;
    width: 100%;
    

}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:white;
    height: 400px;
    width: auto;
    background-size: cover;
    border: 5px dotted hotpink;
}