
html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right,  lightgray 25%, white 75%);
    max-width: 1600px;
}

body a {
    color: white;
    
    
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    font-family: noticia;
    height: 100px;
    width: 100%;
    color: black;
    position: fixed;
    top: 0;
    padding: 0px;
    left: 0;
    background: linear-gradient(to right,  lightgray 25%, white 75%);
    z-index: 3;
}



.header a {

    color: black;
    text-decoration: none;
    perspective: 12000px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}




.header nav {

    display: flex;
    align-items: flex-end;
    gap: 300px;
    width: 1100px;
    padding: 15px 15px;
    overflow: hidden;

}



#nav-projects {
    
    float: left;
    overflow: hidden;
  
}

#nav-projects .dropbtn {

    display: inline-flex;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 5px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
    
}


.header a:hover, .dropdown:hover .dropbtn, .dropbtn:focus, button:hover {
    color: white;
    background-color: black;
    padding: 8px;
    transform: rotateY(360deg);
}

.dropdown-content {

    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
    
}

.dropdown-content a {

    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
}

.dropdown-content a:hover {

    background-color: orangered;
    transition: none;
}

.show {
    display: block;
}






.main {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 140px;
    width: 100%;
    
}

.banner {   
    top: 5px;
    display: flex;
    color: black;
    height: 850px;
    width: 100%;
    align-items: center;
    justify-items: center;
  

}


.banner a {
    color: black;
    text-decoration: none;

}

.banner h1 {
    font-family: noticia;
    font-size: 95px;
    margin: 5px;
    
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: darkgray;
    height: 850px;
    
}

#description a {
    color: orangered;
    font-weight: bold;
    
}


#profile-pic {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    align-self: flex-end;
}


.profile img {
    height: 400px;
    width: 400px;
    float: right;
}

figure {
    display: flex;
    
    align-items: center;
}


figcaption {
    text-align: right;
    font-family: Mr De Haviland;
    font-size: 40px;
    transform: skew(0deg, -10deg);
    padding: 25px;
    margin-top: 15px;
    
    
  
}






@media only screen and (max-width: 680px){

  

    .header {

        position: relative;
    }

    #nav-title p {

        font-size: 60px;
    }

    #nav-menu {
       
        display: none;
        
    }

   .banner {
       flex-direction: column;
       justify-content: center;
       width: auto;
   }

   .profile {
   
    text-align: center;
    
   }

   .profile h1 {
        display: none;
   }

   #profile-pic {

    padding-left: 0;

   }

   #description {
       height: 200px;
   }

   .profile img {

        width: 400px;
        height: 400px;
        
   }



}









aside {
    display: flex;
    right: 0;
    top: 108px;
    height: 100%;
    list-style: none;
    position: fixed;
    width: 100px;
    z-index: 6;

}

/* position and decorating social media icons */
.icons {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 1.50rem;
    width: 60px;
    text-shadow: 2px 2px black;
    
}

.icons a {
   
    padding: 50px;
    color: darkgray;
    perspective: 12000px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    
}

.fa-facebook:hover {
    
    background-color:#3B5998;
    background-size: 50%;
    color: white;
    padding: 25px;
    transform: rotateY(360deg);
}

.fa-twitter:hover {

    background-color: #55ACEE;
    background-size: 50%;
    color: white;
    padding: 25px;
    transform: rotateY(360deg);
}

.fa-linkedin:hover {

    background-color: #007bb5;
    background-size: 50%;
    color: white;
    padding: 25px;
    transform: rotateY(360deg);
}

.fa-instagram:hover {

    background-color: #125688;
    background-size: 50%;
    color: white;
    padding: 25px;
    transform: rotateY(360deg);
}



#social-media { 

    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;

}




#btn2 {

 margin-right: 60px;

}

#bn2 {

    margin-right: 60px;
}

.featured-work {

    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    font-family: noticia;
    font-size: 1.5rem;
    width: 100%;

    
}



#portfolio-poster {

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 50px;
    
    
}

#portfolio-poster img {

    box-shadow: -90px 8px 16px 0px rgba(0,0,0,0.2);

}



.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    
   
}

#zeus-summary {
    display: flex;
    margin-top: -650px;
    margin-left: 125px;
        
}

#zeus-summary p{
    
    width: 350px;
    font-family: noticia;
    font-size: 26px;
    text-align: left;
    font-style: italic;
    font-weight: bold;
  
  
}

.projects a {
    position: relative;
    color: orangered;
    text-decoration: none;
}


.projects img {
    width: 480px;
    height: 630px;
   
}


.project-button {

    align-self: center;
    width: 225px;
    flex-direction: column;
    z-index: 2;
    opacity: 1;
    background: lightgrey;
    margin-top: 20px;
    
}

.project-button a {
    
    color: black;
}


.project-button:hover {
    opacity: 0;
    
}

.project-button h4 {
    line-height: .1;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.project-button h6 {
    margin-top: 10px;
    line-height: .1;
    font-size: 1.4rem;
    
}

.divider {
    margin-top: 35px;
    margin-bottom: 30px;
    width: 15px;
}


.buy-now {

    position: absolute;
    top: -145px;
    align-self: center;
    padding: 40px;
    
}



#mock-site {

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    top: 450px;
    padding-right: 50px;
   
  
}

#mock-site img {

    height: 450px;
    width: 630px;
}




#zeus-project {

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 50px;
    padding-top: 100px;
  
   
    
}

#zeus-project img {

    box-shadow: -90px 8px 16px 0px rgba(0,0,0,0.2);
}




@media only screen and (max-width: 680px) {

    .featured-work {
        align-items: center;
    }
    
    .projects {
       
        display: block;
        position: relative;
        margin: 0;
        margin-bottom: 150px;
    }

   

    #zeus-summary {
        display: none;
    }

    #bn2 {
        margin-right: -75px;
    }
    #btn2 {
        margin-right: -75px;
    }

}








/* Section to display skills and experience */


#skills-title {
    font-family: noticia;
    width: 100%;
    font-size: 1.2rem;
}

.tech {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 3.2rem;
 

}

.tech img {
 
    width: 43px;
    height: 43px;
} 

#final-cut-logo {
    height: 55px;
}

#inspiration-title {

    font-family: noticia;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 55px;
   
}


.inspiration {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: darkgrey;
 

}

#inspiration-pics {

            display: flex;
            justify-content: space-around;

}


.inspiration img {

    margin-top: 30px;
    margin-bottom: 30px;
    width: 250px;

}

#website-temp {
    
    width: 400px;
    height: 265px;
}


@media only screen and (max-width: 680px) {

  .tech {

    
    align-content: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 25px;
  }

   .tech i {

        width: 140px;
   }

   .tech img {
       padding-right: 50px;
       padding-top: 10px;
   }
   
    #inspiration-pics {

        flex-direction: column;
      
        
    }

}





.footer {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color:white;
    height: 400px;
    width: auto;
    background-size: cover;
    font-size: 1.5rem;

}

.footer a {

    font-size: 1rem;
}

.footer a:hover {
    
    color: orangered;
}

#contact-footer {

    display: flex;
    justify-content: space-around;
    width: 1800px;
    
}

#mail-phone {

    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact-links {

        display: flex;
      

}

#contact-links a, p{
    text-decoration: none;
    font-size: .9rem;
    font-family: noticia;
}



.vl {
    border-right: 1px solid white;
    height: 15px;
    margin-right: 4px;
    margin-left: 4px;
}

.coming-soon p {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    
}

#footer-divider {

    width: 1800px;
    margin-top: -50px;
    margin-bottom: -50px;
}

#copyright {

    font-size: 1.2rem;
}

@media only screen and (max-width: 680px) {

    .footer {
     
        height: 1200px;
        text-align: center;
     
    }

    


    #contact-footer {

        flex-direction: column;
        justify-content: center;
    
    }

    .coming-soon {

        display: flex;
        flex-direction: column;

        
    }

}